img {
    width: 60vh;
    display: flex;
    justify-self: center;
}

.text_msg {
    text-align: center;
    font-size: 20px;
    color: #22577a;
    margin-bottom: 0;
    margin-top: 0;
}

.button_home {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
}

.text_four {
  text-align: center;
  font-size: 20px;
  color: #22577a;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 60px;
  font-weight: bold;
}